{% extends "base.jinja" %}
{% block title %}Buat Produk Baru{% endblock %}
{% block body %}
<body class="bg-gray-100 flex items-center justify-center h-full">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-2xl">
        <h1 class="text-2xl font-bold mb-6 text-center">Buat Produk Baru</h1>
        <form method="POST" enctype="multipart/form-data" class="space-y-6">
            {{ form.hidden_tag() }}
            <div class="form-group">
            {{ form.name.label(class="block text-sm font-medium text-gray-700") }}
            {{ form.name(class="w-full p-2 border border-gray-300 rounded mt-1") }}
            </div>
            <div class="form-group">
                {{ form.description.label(class="block text-sm font-medium text-gray-700") }}
                {{ form.description(class="w-full p-2 border border-gray-300 rounded mt-1 h-52 resize-y align-top break-words whitespace-pre-wrap") }}
            </div>
            <div class="form-group">
            {{ form.price.label(class="block text-sm font-medium text-gray-700") }}
            {{ form.price(class="w-full p-2 border border-gray-300 rounded mt-1") }}
            </div>
            <div class="form-group">
            {{ form.stock.label(class="block text-sm font-medium text-gray-700") }}
            {{ form.stock(class="w-full p-2 border border-gray-300 rounded mt-1") }}
            </div>
            <div class="form-group">
            {{ form.weight.label(class="block text-sm font-medium text-gray-700") }}
            {{ form.weight(class="w-full p-2 border border-gray-300 rounded mt-1") }}
            </div>
            <div class="form-group">
            {{ form.image.label(class="block text-sm font-medium text-gray-700") }}
            {{ form.image(class="w-full p-2 border border-gray-300 rounded mt-1") }}
            </div>
            <div class="form-group">
            {{ form.submit(class="w-full bg-blue-500 text-white p-2 rounded hover:bg-blue-600") }}
            </div>
            {% if form.errors %}
                <ul class="text-red-500">
                    {% for field, errors in form.errors.items() %}
                        {% for error in errors %}
                            <li>{{ field }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </form>
    </div>
</body>
{% endblock %}